{% extends 'base.html' %}
{% block content %}
<div class="home_box">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1959.1926892057404!2d106.6141675580608!3d10.858264993996185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752bada2180be3%3A0xc24ffca64503a91c!2sNew+Coffee!5e0!3m2!1svi!2s!4v1557908904845!5m2!1svi!2s" width="1200" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<div class="fb-comments" data-href="https://www.facebook.com/NewCoffee138" data-width="1200" data-numposts="5"></div>

<div class="fb-like" data-href="https://www.facebook.com/NewCoffee138" data-width="1200" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true" style="margin-bottom:20px"></div>
</div>
{% endblock %}