<!DOCTYPE HTML>
{% load static %}
<html>
<head>
    <title>New Coffee</title>
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //Meta tags -->
    <!-- font-awesome-icons -->
    <link href="{% static 'user_info/css/font-awesome.css' %}" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- Stylesheet -->
    <link href="{% static 'user_info/css/style.css' %}" rel='stylesheet' type='text/css' />
    <!-- //Stylesheet -->
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister" rel="stylesheet">
    <!--//fonts-->
</head>
<body>
<!--background-->
<a href="{% url 'home:index' %}" style="color:red"><h1>New Coffee</h1></a>
<div class="bg-agile">
    <div class="book-appointment">
        <h2>Thông tin người dùng</h2>
        <div class="book-form agileits-login">
            <form action="{% url 'user:update_info' %}" method="POST">
                {% csrf_token %}
                <div class="agileits_reservation_grid">
                    <div class="phone_email">
                        <div class="form-text">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <input type="text" name="Firstname" value="{{user.first_name}}" placeholder="Nhập họ">
                        </div>
                    </div>
                    <div class="phone_email phone_email1">
                        <div class="form-text">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <input type="text" name="Lastname" value="{{user.last_name}}" placeholder="Nhập tên">
                        </div>
                    </div>

                    <div class="phone_email">
                        <div class="form-text">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <input type="text" name="Username" value="{{user.username}}" placeholder="Tên đăng nhập" required="" readonly>
                        </div>
                    </div>
                    <div class="phone_email phone_email1">
                        <div class="form-text">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            <input type="text" name="Email" value="{{user.email}}" placeholder="Email" required="">
                        </div>
                    </div>

                    <div class="phone_email">
                        <div class="form-text">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <input type="text" name="Phone" value="{{user.phone}}" placeholder="Số điện thoại">
                        </div>
                    </div>
                    <div class="phone_email phone_email1">
                        <div class="form-text">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <input type="text" name="Address" value="{{user.address}}" placeholder="Địa chỉ">
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <input type="submit" value="Cập nhật">
                <div class="clear"></div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'user_info/js/jquery-2.1.4.min.js' %}"></script>
</body>
</html>