{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block content %}
<!--================Categories Banner Area =================-->
<section class="categories_banner_area">
    <div class="container">
        <div class="c_banner_inner">
            <h3>checkout register</h3>
            <ul>
                <li><a href="{% url 'home:index' %}">Trang chủ</a></li>
                <li><a href="#">Thanh toán</a></li>
            </ul>
        </div>
    </div>
</section>
<!--================End Categories Banner Area =================-->

<!--================Register Area =================-->
<section class="register_area p_100">
    <div class="container">
        <div class="register_inner">
            <form action="{% url 'cart:pay' %}" method="POST" class="billing_inner row">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-7">
                        <div class="billing_details">
                            <h2 class="reg_title">Điền thông tin thanh toán</h2>
                            <div class="billing_inner row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="name">Họ tên<span>*</span></label>
                                        {% if user.first_name and user.last_name %}
                                            <input type="text" class="form-control" id="name" name="Name" value="{{ user.first_name }} {{ user.last_name }}" aria-describedby="name" required="">
                                        {% else %}
                                            <input type="text" class="form-control" id="name" name="Name" aria-describedby="name" required="">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="address">Địa chỉ<span>*</span></label>
                                        <input type="text" class="form-control" id="address" name="Address" value="{{ user.address }}" aria-describedby="address" required="">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="phone">Số điện thoại<span>*</span></label>
                                        <input type="text" class="form-control" id="phone" name="Phone" value="{{ user.phone }}" aria-describedby="phone" required="">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="email">Email<span>*</span></label>
                                        <input type="email" class="form-control" id="email" name="Email" value="{{ user.email }}" aria-describedby="email" required="">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="order">Ghi chú</label>
                                        <textarea class="form-control" id="order" name="Note" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="order_box_price">
                            <h2 class="reg_title">Sản phẩm của bạn</h2>
                            <div class="payment_list">
                                <div class="price_single_cost">
                                    {% for key, value in request.session.cart.items %}
                                    {% if value.sale > 0 %}
                                    <h5>{{ value.name }}<span>{{ value.sale|intcomma }} x {{ value.quantity }} = {{ value.sale|mul:value.quantity|intcomma }} VNĐ</span>
                                    </h5>
                                    {% else %}
                                    <h5>{{ value.name }}<span>{{ value.price|intcomma }} x {{ value.quantity }} = {{ value.price|mul:value.quantity|intcomma }} VNĐ</span>
                                    </h5>
                                    {% endif %}
                                    {% endfor %}
                                    <h4 style="border-bottom: none">Tổng tiền<span>{{ total|intcomma }} VNĐ</span></h4>
                                    <h4>Phí Giao hàng<span>{{ 30000|intcomma }} VNĐ</span></h4>
                                    <h3><span class="normal_text"
                                              style="font-size: 17px; color: #d42421">Thành tiền</span> <span>{{ total|add:30000|intcomma }} VNĐ</span>
                                    </h3>
                                </div>
                                    <div id="accordion" role="tablist" class="price_method">
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingOne">
                                                <h5 class="mb-0">
                                                    <a data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">
                                                    Thanh toán bằng thẻ
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                                <div class="card-body">
                                                    Payment with bank card
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingTwo">
                                                <h5 class="mb-0">
                                                    <a class="collapsed" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
                                                    Thanh toán qua ngân hàng
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                                <div class="card-body">
                                                    Direct bank transfer
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingThree">
                                                <h5 class="mb-0">
                                                    <a class="collapsed" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">
                                                    Thanh toán khi nhận hàng
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                                                <div class="card-body">
                                                    Cash on delivery
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <button type="submit" value="submit" class="btn subs_btn form-control">Hoàn tất</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!--================End Register Area =================-->
{% endblock %}